.backgroundblue{
    background-color:#7fcdec;
    height: 200px;
    cursor: pointer;
}

.topBtn{
    position: fixed;
    top: 90%;
    left: 90%;
    width: 60px;
    display: none;
    cursor: pointer;
    z-index: 100;
}

.backgroundorange{
    background-color: rgba(255,165,0,1);
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px 5px #151515;
}

.grp{
    margin: 40px 30px ;
}

.grpblock img{
    position: relative;
    z-index: 4;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -70px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 425px){
    .topBtn{
        width: 40px;
        top: 92%;
        left: 85%;
        z-index: 100;
    }
}

@media screen and (min-width: 1900px) {
    .grp{
        margin-top: 10%;
    }
}

@media screen and (min-width: 1400px){
    .grp{
        margin-top: 10%;
    }  
}

@media screen and (max-width: 375px){
    .grpblock img{
        width: 80px;
        height: 80px;
        margin-left: -40px;   
    }
    .grpblock{
        padding-left: 0px;
        padding-right: 0px;
        margin-right: -5px;
        margin-top: -12.5%;   
    }
    .backgroundorange{
        box-shadow: none;
    }
    .backgroundblue{
        height: 185px;
    }
    .six-group-container{
        margin: 40px -3px;
        z-index: 3;

    }
}

@media screen and (max-width:425px) and (min-width: 376px){
    .grpblock img{
        width: 70px;
        height: 70px;
        margin-left: -30px;   
    }
}
