*{
	margin: 0;
	padding: 0;
}
body{
	background: #313131!important;   /*网页背景颜色*/
	overflow-x: hidden;
}
#wrap{
	width: 100%;
	height: 100%;
}
#viewWindow{
	width: 100%;
}
.homeContainer,.introducedContainer,.projectContainer,.connectContainer{
	position: absolute;
	width: 100%;
	min-height: 700px;
	top: 130px;
}
.homeContainer{
	left: 0%;
}
.introducedContainer{
	left: 100%;
}
.projectContainer{
	left: 100%;
}
.connectContainer{
	left: 100%;
}
.header{
	position: relative; /*之前是absolute*/
	top: 0px;
	width: 100%;
	height: 130px;
	background: #313131;
}
.header-fixed{
	position: fixed;
	height: 100px;
	z-index: 5;
	background: #d2d2d2;
	box-shadow: 0 0 5px #888;
}
.nav-fixed{
	top: 30%;
}
.logoContainer{
	position: absolute;
	left: 10%;
	top: 10%;
}
img[alt="logo-black"]{
	width: 160px;
}
img[alt^="logo"]{
	position: absolute;
	left: 0;
}
.nav{
	position: absolute;
	top: 35%;
	right: 8%;
	vertical-align: middle;
	font-size: 25px;
	font-family: "微软雅黑";
}
.nav ul{
	list-style-type: none;
}
.nav li{
	display: inline-block;
	padding-left: 20px;

}
#nav a{
	color: #FFF;
}
.nav a:link{
	color: #FFF;
	text-decoration: none;
}
/*.nav a:visited{
	color: #FFF;
}*/
.nav a:hover{
	padding-bottom: 5px;
	border-bottom: solid 4px orange;
}
.nav a:active{
	padding-bottom: 5px;
	border-bottom: solid 4px orange;
}
.fixed-font-style{
	color: #000;
}
.active{
	padding-bottom: 5px;
	border-bottom: solid 4px orange;
}	
.left-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -100;
}
.right-bottom{
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: -100;
}
@media screen and (max-width: 1200px) {
	.nav{
		font-size: 20px;
	}
	.header{
		height: 90px;
	}
	.homeContainer,.introducedContainer,.projectContainer,.connectContainer{
		top: 90px;
	}
	.header-fixed{
		height: 80px;
	}
	img[alt="logo-black"]{
		width: 100px;
	}
	img[alt="logo-white"]{
		width: 150px;
	}
}
@media screen and (max-width: 960px) {
	.nav{
		font-size: 16px;
	}
	.nav li{
		padding-left: 16px;
	}
	.header{
		height: 70px;
	}
	.header-fixed{
		height: 60px;
	}
	.homeContainer,.introducedContainer,.projectContainer,.connectContainer{
		top: 70px;
	}
	img[alt="logo-black"]{
		width: 100px;
	}
	img[alt="logo-white"]{
		width: 120px;
	}
}

@media screen and (max-width:768px) {
	.logoContainer{
		left: 15px;
	}
}


/*********************  memu css **********************/
.memu-btn {
	right: 20px;
	position: absolute;
	background-color: #FFF;
	cursor: pointer;
}

#memu {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	position: fixed;
	opacity: 0;
	display: none;
	/*background-color: #FFF;*/
	cursor: pointer;
}


/*p:nth-child(odd)*/
.memu-item {
	height: 25%;
}

.memu-item:nth-child(odd){
	background-color: rgba(0,0,0,.7);
}
.memu-item:nth-child(even){
	background-color: rgba(0,0,0,.9);
}
.memu-item:hover {
	background-color: rgba(128,128,128,.9);
}

.memu-item p {
	font-size: 36px;
	color: white;
	font-family: "微软雅黑";
	text-indent: 1em;
}

