*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
.homeContainer{
	position: absolute;
	left: 0%;
	width: 100%;
	/*以下是测试用 可以删除*/
	background: red;
	min-height: 500px;
}
.introducedContainer{
	position: absolute;
	left: 100%;
	width: 100%;
	/*以下是测试用 可以删除*/
	min-height: 600px;
/*	background: #000;*/
}
.projectContainer{
	position: absolute;
	left: 100%;
	width: 100%;
	/*以下是测试用 可以删除*/
	min-height: 1200px;
	background: blue;
}
.connectContainer{
	position: absolute;
	left: 100%;
	width: 100%;
	/*以下是测试用 可以删除*/
	min-height: 800px;
	background: #888;
}
.homeContainer,.introducedContainer,.projectContainer,.connectContainer{
	top: 130px;
}
.header{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 130px;
	background: rgba(255,255,255,0.2);
}
.header-fixed{
	position: fixed;
	height: 100px;
	z-index: 999;
	box-shadow: 0 0 5px #888;
}
.nav-fixed{
	top: 30%;
}
.logoContainer{
	position: absolute;
	left: 10%;
	top: 10%;
}
.logo-fixed{
	width: 160px;
}
.nav{
	position: absolute;
	top: 35%;
	right: 8%;
	vertical-align: middle;
	font-size: 25px;
	font-family: "微软雅黑";
}
.nav ul{
	color: #000;
	list-style-type: none;
}
.nav li{
	display: inline-block;
	padding-left: 20px;

}
.nav a:link{
	color: #000;
	text-decoration: none;
}
.nav a:visited{
	color: #000;
}
.nav a:hover{
	padding-bottom: 5px;
	border-bottom: solid 4px orange;
}
.nav a:active{
	padding-bottom: 5px;
	border-bottom: solid 4px orange;
}
.active{
	padding-bottom: 5px;
	border-bottom: solid 4px orange;
}	

@media screen and (max-width: 1200px) {
	.nav{
		font-size: 20px;
	}
	.header{
		height: 90px;
	}
	.homeContainer,.introducedContainer,.projectContainer,.connectContainer{
		top: 90px;
	}
	.header-fixed{
		height: 80px;
	}
	.logo-fixed{
		width: 135px!important;
	}
	img[alt^="logo"]{
		width: 150px;
	}
}
@media screen and (max-width: 960px) {
	.nav{
		font-size: 16px;
	}
	.nav li{
		padding-left: 16px;
	}
	.header{
		height: 70px;
	}
	.header-fixed{
		height: 60px;
	}
	.homeContainer,.introducedContainer,.projectContainer,.connectContainer{
		top: 70px;
	}
	.logo-fixed{
		width: 100px!important;
	}
	img[alt*="logo"]{
		width: 120px;
	}
}

@media screen and (max-width:768px) {
	.logoContainer{
		left: 15px;
	}
}