/*
 *  页面时间轴由timeline.css和timeline.js实现
 *
 *
 */

.timeline {
	margin: 0 auto; 
	width: 1000px;
}

.tree-line {
	
}

.tree-leaf {
	position: relative;
	height: 150px; 
	width: 350px;
	/*border: 5px yellow solid;*/

	/*margin: 30px 60px 30px 60px;*/
}
/*.tree-leaf:after {
	content:"";
	width: 60px;
	height: 60px;
	border: 5px white solid;
	background-color: #000;
}*/
