/*
 *  页面时间轴由timeline.css和timeline.js实现
 *
 *
 */

.tree-container {
	margin: 0 auto;
	width: 1000px;
	position: relative;
	/*height: 1000px;*/
}

.tree-leaf {
	width: 1000px;
	height: 150px;
	margin: 30px 60px -90px 60px;
}

.tree-leaf:nth-child(odd) .tree-item{
	right: 0;

}

.tree-leaf:nth-child(odd) .tree-item:before{
	content: "";
	position: absolute;
	left: -86.5px;
	height: 180px;
	border-left: 3px solid #7fedec;
}


.tree-leaf:nth-child(even) .tree-item{
/*	-moz-transform: translateY(-80px); 
	-webkit-transform: translateY(-80px); 
	-ms-transform: translateY(-80px);
	transform: translateY(-80px);*/
}

.tree-leaf:nth-child(even) .tree-item:after{
	content: "";
	position: absolute;
	right: -86.5px;
	height: 180px;
	border-right: 3px solid #7fedec;
}


.tree-item {
	width: 390px;
	height: 150px;
	border: 5px solid #7fedec;
	position: absolute;
}
.tree-item:hover {
	border: 5px solid #ffb930;
}

.canvas-line {
	position: absolute!important;
	right: -85px!important;
	margin: 0 !important;

    -moz-transform:scaleX(-1);
    -webkit-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);

}

.tree-leaf:nth-child(odd) .canvas-line {
	left: -85px!important;

    -moz-transform:scaleX(1);
    -webkit-transform:scaleX(1);
    -o-transform:scaleX(1);
    transform:scaleX(1);
}


.tree-item img {
	position: absolute;
	width: 120px;
	
	top: 10px;
	left: 10px;
}

.tree-item > div {
	position: absolute;
	color: white;
	left: 150px;
}

.word-intro .title {
	font-size: 30px;
	cursor: pointer;
	color: #7fedec;
}
.word-intro .title:hover {
	color: #ffb930;
}

@media screen and (max-width: 1000px) {
	.tree-container {
		margin: 0 auto;
		width: 420px;
		position: relative;
		/*height: 1000px;*/
	    -moz-transform:scaleX(1);
	    -webkit-transform:scaleX(1);
	    -o-transform:scaleX(1);
	    transform:scaleX(1);
	}

	.tree-item {
		width: 350px;
		height: 150px;
		border: 5px solid #7fedec;
		position: absolute;
	}

	.canvas-line {
		left: -85px!important;
	    -moz-transform:scaleX(1);
	    -webkit-transform:scaleX(1);
	    -o-transform:scaleX(1);
	    transform:scaleX(1);
	}

	.tree-leaf {
		width: 1000px;
		height: 150px;
		margin: 30px 60px 30px 60px;
	}

	.tree-leaf:nth-child(even) .tree-item:before{
		content: "";
		position: absolute;
		left: -86.5px;
		height: 180px;
		border-left: 3px solid #7fedec;
	}

	.tree-leaf:nth-child(even) .tree-item:after{
		content: "";
		border-right: none;
	}

	.tree-leaf:nth-child(even) .tree-item{
		right: 0;
	}

}
